In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Inserting Data

In [3]:
data=pd.read_csv("churn_prediction_simple.csv")
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,days_since_last_transaction,...,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,1,3135,66,0,0.0,0,187.0,2,755,224.0,...,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0
1,6,2531,42,0,2.0,0,1494.0,3,388,58.0,...,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1
2,7,263,42,1,0.0,0,1096.0,2,1666,60.0,...,16059.34,15211.29,13798.82,0.36,0.36,857.50,286.07,15719.44,15349.75,0
3,8,5922,72,0,0.0,1,1020.0,1,1,98.0,...,7714.19,7859.74,11232.37,0.64,0.64,1299.64,439.26,7076.06,7755.98,0
4,9,1145,46,0,0.0,0,623.0,2,317,172.0,...,8519.53,6511.82,16314.17,0.27,0.27,443.13,5688.44,8563.84,5317.04,0

In [4]:
data.isnull().sum()

customer_id                       0
vintage                           0
age                               0
gender                            0
dependents                        0
occupation                        0
city                              0
customer_nw_category              0
branch_code                       0
days_since_last_transaction       0
current_balance                   0
previous_month_end_balance        0
average_monthly_balance_prevQ     0
average_monthly_balance_prevQ2    0
current_month_credit              0
previous_month_credit             0
current_month_debit               0
previous_month_debit              0
current_month_balance             0
previous_month_balance            0
churn                             0
dtype: int64

In [6]:
data=data.dropna()  #Drop missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22067 entries, 0 to 22066
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     22067 non-null  int64
 1   vintage                         22067 non-null  int64
 2   age                             22067 non-null  int64
 3   gender                          22067 non-null  int64
 4   dependents                      22067 non-null  float64
 5   occupation                      22067 non-null  int64
 6   city                            22067 non-null  float64
 7   customer_nw_category            22067 non-null  int64
 8   branch_code                     22067 non-null  int64
 9   days_since_last_transaction     22067 non-null  float64
 10  current_balance                 22067 non-null  float64
 11  previous_month_end_balance      22067 non-null  float64
 12  average_monthly_balance_prevQ   22067 non-null  float64
 13  average_monthly_balance_prevQ2  22067 non-null  float64
 14  current_month_credit            22067 non-null  float64
 15  previous_month_credit           22067 non-null  float64
 16  current_month_debit             22067 non-null  float64
 17  previous_month_debit            22067 non-null  float64
 18  current_month_balance           22067 non-null  float64
 19  previous_month_balance          22067 non-null  float64
 20  churn                           22067 non-null  int64
dtypes: float64(13), int64(8)
memory usage: 3.5 MB

In [7]:
#checking ddatasset distribution

data['churn'].value_counts()/len(data)  #churn is target variable

0    0.806317
1    0.193683
Name: churn, dtype: float64

In [8]:
#separating Independent and Dependent variable

X=data.drop(columns=['churn','customer_id'])
Y=data['churn']

### Scaling Dataset

In [10]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

scaler_X=scaler.fit_transform(X)

### Splitting DataSet

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(scaler_X,Y,test_size=0.3)

X_train.shape, X_test.shape,Y_train.shape,Y_test.shape

((15446, 19), (6621, 19), (15446,), (6621,))

### Model Building & Predctions

In [13]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression(class_weight='balanced')

In [18]:
classifier.fit(X_train,Y_train)
predictions=classifier.predict(X_test) #predicting Class
predictions_prob=classifier.predict_proba(X_test)  #predicting Probabilites

predictions_prob

array([[0.27688511, 0.72311489],
       [0.51002334, 0.48997666],
       [0.56261159, 0.43738841],
       ...,
       [0.53729974, 0.46270026],
       [0.71850077, 0.28149923],
       [0.62725323, 0.37274677]])

### Confusion Matrix

In [19]:
from sklearn.metrics import confusion_matrix

cf=confusion_matrix(Y_test,predictions)

cf

array([[3906, 1429],
       [ 495,  791]], dtype=int64)

In [20]:
#Accuracy

classifier.score(X_test,Y_test)

0.7094094547651412

In [21]:
# calculating precision Score

from sklearn.metrics import precision_score
precision=precision_score(Y_test,predictions)

precision

0.35630630630630633

In [22]:
#calculating recall Score

from sklearn.metrics import recall_score
recall=recall_score(Y_test,predictions)
recall

0.6150855365474339